body {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color-scheme: light;
    background: linear-gradient(to right,#ffffffcd, #e99e1b92, #92238d8b, #662c9083);
    color: rgb(51, 51, 51);
}

.header {
    margin: 0;
    padding: 0;
}

.header img {
    width: 100%;
    max-width: 380px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.header h1 {
    margin: 0 auto;
    width: 258px;
    margin-top: 0;
    font-size: 3.5rem;
    background: -webkit-linear-gradient(#ffffff, #e99e1b49, #92238d90,#662c9083);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 0 #91288c, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;
}

.header h1:hover {
    cursor: pointer;
    transition-duration: 1100ms;
    text-shadow: 1px 0 #f5f3f4, -2px 0 #91288c, 0 2px #91288c, 0 -1px #91288c,
    1px 1px #91288c, -1px -1px #91288c, 1px -1px #91288c, -1px 1px #91288c;
}

.julius-sans-one-regular {
    font-family: "Julius Sans One", serif;
    font-weight: 400;
    font-style: normal;
  }

  .fontdiner-swanky-regular {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
  }  

  .swanky-and-moo-moo-regular {
    font-family: "Swanky and Moo Moo", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

.logo {
    max-width: 200px;
}

h1, h2, h3 {
    margin-bottom: 20px;
    text-align: center;
}

section {
    margin-bottom: 22px;
}

.hero {
    text-align: center;
    padding: 1px 0 12px;
}

.contacto {
    text-align: center;
    font-family: fond;
}

.hero h1 {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 1px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -1px #000000,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.hero p {
    font-family: "Swanky and Moo Moo", serif;
    font-size: 2rem;
    color: #000000;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;
}


.releases h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact {
    text-align: center;
    margin-bottom: 70px;
}

    /* CSS */
    .button-33 {
      background-color: #e39ade00;
      border-radius: 100px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 149, 0.15) 0 1px 2px,rgba(187, 44, 156, 0.15) 0 2px 4px,rgba(187, 44, 137, 0.15) 0 4px 8px,rgba(151, 44, 187, 0.15) 0 8px 16px,rgba(187, 44, 168, 0.15) 0 16px 32px;
      color: #ffffff;
      text-shadow: 2px 0 #5a1b57, 0 -0.8px #5a1b57;
      cursor: pointer;
      display: inline-block;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 17px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      font-family: "Fontdiner Swanky", serif;
      transition-duration: 700ms;
    }
    
    .button-33:hover {
        color: #5a1b57;
      box-shadow: rgba(253, 252, 252, 0.35) 0 -25px 18px -14px inset,rgba(54, 18, 67, 0.25) 0 1px 2px,rgba(56, 2, 97, 0.25) 0 2px 4px,rgba(198, 131, 200, 0.25) 0 4px 8px,rgba(230, 112, 238, 0.25) 0 8px 16px,rgba(141, 24, 154, 0.25) 0 16px 32px;
      transform: scale(1.05) rotate(-1deg);
      text-shadow: #fcfbfc 0 0 10px;
      font-size: 10px;
    }


.beat-making h2 {
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.releases h2 {
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.beat-stars h2 {
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.process-grid h3 {
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.studio h2 {
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.ensamble h3,h4 {
    text-transform: uppercase;
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.process-grid p {
    text-align: center;
    font-family: "Swanky and Moo Moo", serif;
    font-size: 1.6rem;
    color: #290036;
    text-shadow: 0.5px 0 #000000;
}

.beat-stars P {
    text-align: center;
    font-family: "Fontdiner Swanky", serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #290036;
    text-shadow: 0.5px 0 #ffffff;
}

.carousel {
    padding: 8px;
    margin-top: 60px;
    margin-bottom: 70px;
}

.studio01 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
} 


.studio01 img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 12px;
    border: 3px solid #440044;
    box-shadow: 1px 4px 6px rgb(180, 135, 252);
    filter: drop-shadow(16px 16px 20px #440044) invert(10%);
}

.carousel img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
    border: 1.5px solid #dbd3db;
    box-shadow: 0 4px 6px rgb(187, 176, 195);
}

.carousel p {
    text-align: center;
    margin-top: 10px;
}

.beat-stars {
    text-align: center;
}

.cta-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #555;
}

.process-grid, .studio-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.studio {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.icon {
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
}

.studio-image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.studio-image img {
    width: 250px;
    height: auto;
    transition: transform 0.3s;
}

.studio-image:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.studio-image:hover .overlay {
    opacity: 1;
}

.overlay p {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.ensamble {
    text-align: center;
    margin-top: 70px;
}

footer {
    font-family: "Julius Sans One", serif;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    text-shadow: #000000 0 0 10px;
}

@media (max-width: 768px) {
    .process-grid, .studio-grid {
        grid-template-columns: 1fr;
    }
}

