:root {
    --light: hsl(0, 0%, 100%);
    --primary: hsl(257, 47%, 3%);
    --focus: hsl(208, 70%, 5%);
    --border-color: hsla(0, 11%, 2%, 0.2);
    --global-background: hsl(280, 33%, 30%);
    --background: linear-gradient(to right, hsl(210, 9%, 70%), hsl(254, 43%, 25%));
    --shadow-1: hsla(210, 32%, 49%, 0.3);
    --shadow-2: hsla(0, 56%, 51%, 0.4);
}

body {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color-scheme: light;
    background: linear-gradient(to right,#ffffffcd, #e99e1b92, #92238d8b, #662c9083);
    color: rgb(51, 51, 51);
    overflow-y: scroll;
}

.header {
    margin: 0;
    padding: 0;
}

.header img {
    width: 100%;
    max-width: 380px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.header .logo-title {
    display: block;
    margin: 0 auto;
    width: 258px;
    margin-top: 0;
    font-size: 3.5rem;
    background: -webkit-linear-gradient(
        #ffffff,
        #e99e1b49,
        #92238d90,
        #662c9083
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        1px 0 #91288c,
        -2px 0 #ffffff,
        0 2px #ffffff,
        0 -1px #ffffff,
        1px 1px #ffffff,
        -1px -1px #ffffff,
        1px -1px #ffffff,
        -1px 1px #ffffff;
}

.header .logo-title:hover {
    cursor: pointer;
    transition-duration: 1100ms;
    text-shadow:
        1px 0 #f5f3f4,
        -2px 0 #91288c,
        0 2px #91288c,
        0 -1px #91288c,
        1px 1px #91288c,
        -1px -1px #91288c,
        1px -1px #91288c,
        -1px 1px #91288c;
}


.julius-sans-one-regular {
    font-family: "Julius Sans One", serif;
    font-weight: 400;
    font-style: normal;
  }



  .fontdiner-swanky-regular {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
  }  

  .swanky-and-moo-moo-regular {
    font-family: "Swanky and Moo Moo", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.container {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.container-legal {
    font-family: "Julius Sans One", serif;
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.error {
  color: #ff9b9b;
  font-size: 1.0rem;
  display: none;
}

#enviar:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

header {
    text-align: center;
    padding: 20px 0;
}

.logo {
    max-width: 200px;
}

h1, h2, h3 {
    margin-bottom: 20px;
    text-align: center;
}

section {
    margin-bottom: 22px;
}

.hero {
    text-align: center;
    padding: 1px 0 12px;
}

.contacto {
    text-align: center;
    font-family: fond;
}

.hero h1 {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 18px;
    text-shadow:
        1px 0 #000000,
        -1px 0 #000000,
        0 1px #000000,
        1px 1px #91288c;
}

.hero .hero-subtitle {
    font-family: "Swanky and Moo Moo", serif;
    font-size: 1.8rem;
    color: #000000;
    opacity: 0.95;
    text-shadow:
        1px 0 #ffffff,
}

.releases h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact {
    text-align: center;
    margin-bottom: 70px;
}

    /* CSS */
    .button-33 {
      background-color: #e39ade00;
      border-radius: 100px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 149, 0.15) 0 1px 2px,rgba(187, 44, 156, 0.15) 0 2px 4px,rgba(187, 44, 137, 0.15) 0 4px 8px,rgba(151, 44, 187, 0.15) 0 8px 16px,rgba(187, 44, 168, 0.15) 0 16px 32px;
      color: #ffffff;
      text-shadow: 2px 0 #5a1b57, 0 -0.8px #5a1b57;
      cursor: pointer;
      display: inline-block;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 17px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      font-family: "Fontdiner Swanky", serif;
      transition-duration: 700ms;
    }
    
    .button-33:hover {
        color: #5a1b57;
      box-shadow: rgba(253, 252, 252, 0.35) 0 -25px 18px -14px inset,rgba(54, 18, 67, 0.25) 0 1px 2px,rgba(56, 2, 97, 0.25) 0 2px 4px,rgba(198, 131, 200, 0.25) 0 4px 8px,rgba(230, 112, 238, 0.25) 0 8px 16px,rgba(141, 24, 154, 0.25) 0 16px 32px;
      transform: scale(1.05) rotate(-1deg);
      text-shadow: #fcfbfc 0 0 10px;
      font-size: 10px;
    }


.beat-making h2 {
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.releases h2 {
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.beat-stars h2 {
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.process-grid h3 {
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.studio h2 {
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.ensamble h3,h4 {
    text-transform: uppercase;
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #ffffff,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.process-grid p {
    text-align: center;
    font-family: "Swanky and Moo Moo", serif;
    font-size: 1.6rem;
    color: #290036;
    text-shadow: 0.5px 0 #000000;
}

.beat-stars P {
    text-align: center;
    font-family: "Fontdiner Swanky", serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #290036;
    text-shadow: 0.5px 0 #ffffff;
}

.carousel {
    padding: 8px;
    margin-top: 60px;
    margin-bottom: 70px;
}

.carousel img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
    border: 1.5px solid #dbd3db;
    box-shadow: 0 4px 6px rgb(187, 176, 195);
}

.studio01 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 70px;
} 


.studio01 img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 12px;
    border: 3px solid #440044;
    box-shadow: 1px 4px 6px rgb(180, 135, 252);
    filter: drop-shadow(16px 16px 20px #440044) invert(10%);
}

.emojis {
    animation: pulse 3s infinite; 
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.carousel p {
    text-align: center;
    margin-top: 10px;
}

.beat-stars {
    text-align: center;
}

.beat-stars h1 {
    font-family: "Bungee Shade", serif;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 258px;
    margin-top: 0;
    font-size: 3.5rem;
    color: #5a1b57;
    text-shadow: 1px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -1px #5a1b57,
    1px 1px #ded40a, -1px -1px #cbc212, 1px -1px #91288c, -1px 1px #91288c;
}

.beat-stars h1:hover {
    cursor: pointer;
    transition-duration: 1100ms;
    text-shadow: 1px 0 #5a1b57, -2px 0 #ffffff, 0 2px #fcf8fc, 0 -1px #91288c,
    1px 1px #91288c, -1px -1px #91288c, 1px -1px #f5eef5, -1px 1px #91288c;
}

.bungee-shade-regular {
    font-family: "Bungee Shade", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.cta-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #555;
}

.process-grid {
    margin-top: 50px;
}

.process-grid, .studio-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.studio {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.icon {
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
}

.studio-image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.studio-image img {
    width: 250px;
    height: 230px;
    object-fit: cover;
    transition: transform 0.3s;
    border-radius: 12px;
}

.studio-image:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.studio-image:hover .overlay {
    opacity: 1;
}

.overlay p {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.ensamble {
    text-align: center;
    margin-top: 70px;
}

footer {
    font-family: "Julius Sans One", serif;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    text-shadow: #000000 0 0 10px;
}

#enviar {
    cursor: pointer;
}

#enviar:hover {
    background-color: #e89c21;
    color: #5a1b57;
}



.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    border-radius: 6px;
    background-color: var(--global-background);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    width: 80%;
    max-width: 500px;
    color: var(--light);
    box-shadow: 0 4px 8px var(--shadow-1), 0 6px 20px var(--shadow-2);
}

.popup-content form {
    display: flex;
    flex-direction: column;
}

.popup-content label {
    margin-top: 10px;
}

.popup-content input, .popup-content textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--light);
}

.popup-content button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--focus);
    color: var(--light);
    cursor: pointer;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(--light);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

  #cookieConsent {
    font-family: "Julius Sans One", serif;
    background-color: rgba(12, 12, 12, 0.933);
    min-height: 26px;
    font-size: 14px;
    color: #ffffff;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }
  #cookieConsent a {
    color: #d595e6;
    text-decoration: none;
  }
  #closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
  }
  #acceptCookie {
    font-family: "Julius Sans One", serif;
    background: #5a1b57;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }

@media (max-width: 768px) {
    .process-grid, .studio-grid {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.2em;
    }

    .hero .hero-subtitle {
        font-size: 1.4rem;
    }
}